# Node files
node_modules
yarn.lock

# Editor files
.vscode

# Configuration files
.eslintrc.json
.gitignore
.huskyrc
.lintstagedrc
.travis.yml
jest.config.js
tsconfig.eslint.json
tsconfig.json

# Project specific stuff
src
tests
