# Node files
node_modules
package-lock.json
yarn.lock

# Editor files
.vscode/**

# Configuration files
.eslintrc
.gitignore
.huskyrc
.lintstagedrc
.travis.yml
jest.config.js
tsconfig.json

# Project specific stuff
src/**
tests/**
